/* sets the default font style for the entire body of the HTML */
body {
  font-family: Arial, Helvetica, sans-serif; /* Set the font */
  line-height: 1.6; /* Set the space between lines */
}

/* Styles for container elements, centered with slight transparency */
.container {
  width: 63%; /* Sets the width to 63% of its parent element */
  margin: 0 auto; /* Centers the container horizontally */
  opacity: 0.92; /* Makes the container slightly transparent */
  filter: alpha(opacity=92); /* For IE8 and earlier, sets the opacity */
  padding-top: 30px; /* Adds space above the content within the container */
}

/* Styles for div elements with the class "row" */
div.row {
  display: inline-block; /* Makes the div inline but block-level, affecting layout */
  align-content: center; /* Vertically aligns the content inside the flex container */
  text-align: center; /* Centers text horizontally within the div */
  width: 100%; /* Div takes full width of its parent container */
  padding: 40px 40px 30px 40px; /* Top, right, bottom, left padding */
  background-color: #ffffff; /* Sets a white background color */
}

/* Special styles for displaying example CSV data */
div.csvexample {
  width: 100%; /* Full width of its parent container */
  text-align: center; /* Centers text horizontally */
  font-style: italic; /* Italicizes the text */
  font-family: inherit; /* Inherits the font-family from its parent */
  font-size: 18px; /* Sets the font size */
}

/* General paragraph styles, particularly for alignment and spacing */
p {
  text-align: center; /* Centers text horizontally */
  padding-left: 20px; /* Left padding */
  padding-right: 20px; /* Right padding */
  font-size: 20px; /* Font size for readability */
}

/* Styles for rows displaying errors, like file processing issues */
div.error-row {
  border: 0px; /* No border */
  border-radius: 10px; /* Rounded corners */
  text-align: center; /* Centers text */
  font-weight: bold; /* Makes text bold */
  font-size: 40px; /* Large text for emphasis */
  background-color: #ff0000; /* Red background to highlight errors */
}

/* Styles specifically for error messages to make them prominent */
p.error-msg {
  text-align: center; /* Centers text */
  font-weight: bold; /* Bold text for emphasis */
  font-size: 40px; /* Large text size */
}

/* General button styles for actions like submit */
.button {
  font-size: 25px; /* Large font size for visibility */
  padding: 10px 20px; /* Padding around text */
  background-color: #414851; /* Set background color of the button */
  color: white; /* White text for contrast */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners for aesthetics */
  cursor: pointer; /* Changes the cursor to a pointer when hovering over the button */
}

/* Hover effect for buttons to indicate interactivity */
.button:hover {
  background-color: #222529; /* Slightly darker color on hover */
}

/* Styles for file uploader input */
.file-uploader {
  font-size: 18px; /* Font size */
  padding: 10px 20px; /* Padding for better handling */
  cursor: pointer; /* Indicates the element is clickable */
  background-color: #f8f8f8; /* Light grey background */
  border: 1px solid #ddd; /* Light grey border */
}

/* Hover effect for file uploader to indicate interactivity */
.file-uploader:hover {
  background-color: #e8e8e8; /* Slightly darker grey on hover */
}

/* General Data Table styles */
.dataframe {
    border-collapse: collapse; /* Ensures borders between cells are merged */
    margin: 30px 0; /* Adds space around the table */
    font-family: Arial, sans-serif; /* Consistent font for table */
    font-size: 0.9em; /* Font size */
    min-width: 400px; /* Minimum width */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); /* Shadow for 3D effect */
}

/* Header styles */
.thead th {
    background-color: #414851; /* Dar kbackground for headers */
    color: #ffffff; /* White text color */
    text-align: center; /* Aligns header text to the center */
    padding-bottom: 12px; /* Padding below the text */
    padding-top: 12px; /* Padding above the text */
}

/* Body styles */
.tbody td {
    border-bottom: 1px solid #dddddd; /* Light grey border for separating rows */
    color: #333333; /* color of text */
    padding-bottom: 12px; /* Padding below the text */
    padding-top: 12px; /* Padding above the text */
}

/* Hover effect for table rows */
.tbody tr:hover {
    background-color: #f1f1f1; /* Slightly lighter row highlight on hover */
}
