<!DOCTYPE html>
<html lang="en">
<head>
  <title>SuperGeocoder</title>
  <link rel="stylesheet" href="./static/main.css">
  <link rel="icon" href="./static/assets/favicon.ico">
</head>
<body background="./static/assets/background.jpg">
  <div class="container">
    <div class="row">
      <h1>CSV file Example</h1>
      <p>Below is what a valid CSV file could look like that includes at least
        one column for a series of addresses:</p>
      <br><br>
      <div class="csvexample">
        id,Property ADDRESS,name,employees<br>
        1,30 Heke Street Ngaio Wellington New Zealand,John,20<br>
        2,21 Raumati Terrace Khandallah Wellington New Zealand,Joe,30<br>
        3,9 Baffin Grove Kingston Wellington New Zealand, Jack, 40<br>
        4,92 Wallace Street Wellington New Zealand,Jane,50<br>
      </div>
      <br><br><br>
      <a href="/" style='font-size:20px'>Back to home page</a>
    </div>
  </div>
</body>
</html>
